@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-default: 44 44 59;

    --color-background: 44 44 59;
    --color-foreground: 29 29 38;

    @apply bg-default text-white;
  }

  html {
    scroll-behavior: smooth;
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-gray-500;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  a:focus {
    outline: 2px solid currentColor;
    outline-offset: 0.25em;
  }

  .markdown h1 {
    @apply mt-8 mb-4 text-3xl font-extrabold;
  }

  .markdown h2 {
    @apply mt-8 mb-4 text-2xl font-semibold;
  }

  .markdown h3 {
    @apply mt-4 mb-2 text-xl font-semibold;
  }

  .markdown h4 {
    @apply mt-4 mb-2 text-lg font-medium;
  }

  .markdown li {
    @apply list-disc text-white;
  }

  .markdown ol > li {
    @apply mb-2 list-decimal;
  }

  .markdown p {
    @apply mb-4 text-white;
  }

  .markdown a > p {
    @apply mb-0 text-sm;
  }

  .markdown a:not(.heading-link--hidden---effects) {
    @apply underline decoration-slate-500 
          decoration-dotted underline-offset-2;
  }

  .markdown code {
    @apply break-words lg:break-normal;
  }

  .markdown code:not(.markdown pre code) {
    @apply rounded bg-foreground px-0.5 py-[0.5px];
  }

  .markdown pre {
    @apply mx-auto mb-3 rounded bg-foreground p-2 pl-3 font-mono shadow-xl sm:pt-2;
  }
}
