@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-default: 44 44 59;

    @apply bg-default text-white;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  a:focus {
    outline: 2px solid currentColor;
    outline-offset: 0.25em;
  }

  .markdown h1 {
    @apply mt-8 mb-4 text-3xl font-extrabold;
  }

  .markdown h2 {
    @apply mt-8 mb-4 text-2xl font-semibold;
  }

  .markdown h3 {
    @apply mt-4 mb-2 text-xl font-semibold;
  }

  .markdown li {
    @apply list-disc text-white;
  }

  .markdown ol > li {
    @apply mb-2 list-decimal;
  }

  .markdown p {
    @apply mb-4 text-white;
  }

  .markdown a > p {
    @apply mb-0 text-sm;
  }

  .markdown a:not(.heading-link--hidden---effects) {
    @apply underline decoration-slate-500 
          decoration-dotted underline-offset-2;
  }

  .markdown code {
    @apply break-words lg:break-normal;
  }

  .markdown code:not(.markdown pre code) {
    @apply rounded bg-[#1D1D26] px-0.5 py-[0.5px];
  }

  /* .markdown .remark-code-title {
    @apply border-t3-purple-300/80 text-t3-purple-200 z-10 -mb-1 mt-3 w-full rounded-t-md border bg-[#191724] px-2 py-1 font-mono;
  } */

  .markdown pre {
    @apply mx-auto mb-3 rounded bg-[#1D1D26] p-2 pl-3 font-mono shadow-xl sm:pt-2;
  }
}
