---
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import { getSlugFromPath } from "../utils/get-slug-from-path";

const posts = await Astro.glob("./blog/*.md");
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf(),
);
---

<Layout title="Andres Martinez - Blog" description="Mi blog">
  <main
    id="content"
    class="h-[calc(100vh-80px)] w-full max-w-screen-2xl mx-auto">
    <div class="grid mx-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
      {
        sortedPosts.map((post) => (
          <a
            href={`/blog/${getSlugFromPath(post.file)}`}
            class="flex flex-col rounded-lg border border-gray-500 bg-violet-900 p-4">
            <span class="text-xl font-semibold text-white">
              {post.frontmatter.title}
            </span>
            <span class="text-white">{post.frontmatter.description}</span>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
