---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andres Martinez" description="Mi blog">
  <main
    id="content"
    class="flex items-center justify-center h-[calc(100vh-80px)]">
    <h1 class="text-3xl text-white">andresmartinez.dev</h1>
  </main>
</Layout>
