---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Andres Martinez" description="Mi blog">
	<main>
		<h1 class="text-3xl">Bievenidos a andresmartinez.dev</h1>
	</main>
</Layout>


<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	h1 {
		color: #C9C9D1
	}
</style>