---
import "@fontsource/jetbrains-mono";
import JumpToContent from "../components/accesibility/JumpToContent.astro";
import PostContent from "../components/blog/PostContent.astro";
import BaseHead from "../components/head/BaseHead.astro";
import SeoHead from "../components/head/SeoHead.astro";
import Header from "../components/header/Header.astro";
import { Frontmatter } from "../config";
import "../styles/global.css";

export interface Props {
  frontmatter: Frontmatter;
}

const {
  frontmatter,
  frontmatter: { title, description },
} = Astro.props;
---

<!DOCTYPE html>
<html dir="ltr" lang="es">
  <head>
    <BaseHead />
    <SeoHead type="article" title={title} description={description} />
    <title>{title}</title>
  </head>

  <body>
    <JumpToContent />
    <Header />
    <main class="w-full max-w-5xl flex-1 mx-auto h-full">
      <PostContent frontmatter={frontmatter}>
        <slot />
      </PostContent>
    </main>
  </body>
</html>
